<div class="container mx-auto">
  {% paginate search.results by 10 %}
    <h1 class="text-xl my-4 text-center">Search Results</h1>
    <div class="flex items-center justify-center">
      <form method="get" action="{{ routes.search_url }}" class="flex border rounded">
        <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="Search..." class="w-80 px-4 py-2 rounded">
        <button type="submit" class="bg-gray-900 hover:bg-gray-700 text-white border px-4 py-2 rounded">Search</button>
      </form>
    </div>
    {% if search.performed %}
      {% if search.results.size > 0 %}
        <div class="max-w-6xl mx-auto">
          <p class="text-center text-gray-500 my-10">Found {{ search.results.size }} results for "{{ search.terms | escape }}".</p>
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 my-6">
            {% for item in search.results %}
              {% case item.object_type %}
                {% when 'product' %}
                  {% render 'product-card', product: item %}
                {% when second_value %}
                  
                {% else %}
                  
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="text-center my-4">
          <p>No results found for "{{ search.terms }}". Please try again with different keywords.</p>
        </div>
      {% endif %}
    {% endif %}

    {% render 'pagination', pagination: paginate, current_page: search.current_page, total_pages: search.total_pages %}
  {% endpaginate %}
</div>
