{% paginate collection.products by 12 %}
    {% for product in collection.products %}
        {% if product.featured_image %}
            <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}">
        {% endif %}
        <span>{{ product.vendor }}</span>
        <a href="{{ product.url }}">{{ product.title }}</a>
        <p>{{ product.price | money }}</p>
    {% else %}
        <p>No products found in this collection</p>
    {% endfor %}
    {% render 'pagination', pagination: paginate %}
{% endpaginate %}

The `paginate` tag allows the user to paginate to the 25,000th item in the array and no further. To reach items further in
the array the array should be filtered further before paginating. See
[Pagination Limits](/themes/best-practices/performance/platform#pagination-limits) for more information.