<article class="py-8">

{% for block in section.blocks %}
  {% case block.type %}
    {% when 'article_title' %}
      <div class="flex flex-col items-center justify-between">
        <div class="max-w-7xl text-center">
          <a href="{{ blog.url }}" class="text-base uppercase text-gray-500 hover:text-gray-900 font-bold">{{ blog.title }}</a>
          <h1 class="text-4xl md:text-6xl font-medium">{{ article.title }}</h1>
        </div>
      </div>
    {% when 'article_author' %}
      <div class="flex flex-col items-center justify-center">
        <div class="max-w-7xl text-center">
          {% if section.settings.enable_author %}
            <small>{{ article.author }}</small>
          {% endif %}
        </div>
      </div>

    {% when 'article_published_date' %}
      <div class="flex flex-col items-center justify-center">
        <div class="max-w-7xl text-center">
          {% if section.settings.enable_published_date %}
            <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                {{ article.published_at | date: format: 'on_date' }}
            </time>
          {% endif %}          
        </div>
      </div>

    {% when 'featured_image' %}
      <div class="flex flex-col max-w-7xl bg-blue-100 rounded-lg mx-2 md:mx-auto overflow-hidden my-4">
        {% if article.image %}
          <img class="w-full h-80 md:h-96 object-cover object-center" src="{{ article.image | img_url: 'large' }}" loading="lazy" alt="{{ article.image.alt }}">
        {% else %}
          {% assign placeholder_image = 'lifestyle-1' %}
          {{ placeholder_image | placeholder_svg_tag: 'w-full h-80 md:h-96 object-cover object-center p-5' }}
        {% endif %}
      </div>
      
    {% when 'article_content' %}
      <div class="flex flex-col items-center justify-center">
        <div class="max-w-7xl">
          {{ article.content }}
        </div>
      </div>
    {% else %}

  {% endcase %}
{%  endfor %}
</article>

{% if blog.comments_enabled? %}
  <div id="comments" class="my-8">
  {% if article.comments_count > 0 %}

  {% else %}
    <h2 class="text-2xl font-medium mb-4">Be the first to comment!</h2>
    <p class="mb-4">No comments yet. Share your thoughts about this article.</p>
  {% endif %}
  </div>
  <div id="comment-form" class="mb-8">
    {% form 'new_comment', article %}
      <div class="flex-1- mx-auto items-center justify-center max-w-4xl px-4">
        <div class="px-1 md:flex mb-3">
          <div class="md:w-1/2 px-3">
            <label for="comment_name" class="text-gray-700 font-medium uppercase text-xs mb-2">Your Name</label>
            <input type="text" name="comment[author]" placeholder="Your Name" class="w-full text-gray-700 border py-3 px-4 mb-3 focus:outline-none" required id="comment_name">
          </div>
          <div class="md:w-1/2 px-3">
            <label for="comment_email" class="text-gray-700 font-medium uppercase text-xs mb-2">Your Email</label>
            <input type="email" name="comment[email]" placeholder="Your Email" class="w-full text-gray-700 border py-3 px-4 mb-3 focus:outline-none" required id="comment_email">
          </div>
        </div>
        <div class="px-1 md:flex mb-3">
          <div class="md:w-full px-3">
            <label for="comment_content" class="text-gray-700 font-medium uppercase text-xs mb-2">Comment</label>
            <textarea name="comment[body]" id="comment_content" rows="5" class="w-full text-gray-700 resize-none hy-20 py-2 px-3 border rounded mb-4 focus:outline-none" placeholder="Your comment here..." required></textarea>
          </div>
        </div>
        <div class="px-1 md:flex mb-3">
          <div class="md:w-full px-3">
            <button type="submit" class="w-full cursor-pointer bg-blue-500 text-white text-base font-medium px-4 py-2 border rounded">Submit Comment</button>
          </div>
        </div>
      </div>
    {% endform %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Article Template",
  "settings": [
    {
        "type": "checkbox",
        "id": "enable_author",
        "label": "Display Author Name",
        "default": true
    },
    {
        "type": "checkbox",
        "id": "enable_published_date",
        "label": "Display Published Date",
        "default": true
    },
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Article Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Article Author",
      "limit": 1
    },
    {
      "type": "article_published_date",
      "name": "Article Published Date",
      "limit": 1
    },
    {
      "type": "featured_image",
      "name": "Thumbnail",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Article Content",
      "limit": 1
    },
  ],
  "presets": [
    {
      "name": "Default Article Template",
      "category": "Articles"
    }
  ]
}

{% endschema %}